<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto fondo-negrito">
           <h1 class="mb-1">Mis enlaces Favoritos</h1>
           <h3 class="mb-5">
            <em>Almacena tus enlace Favoritos.</em>
           </h3> 
           <a href="/signin" class="btn btn-outline-light mb-3">Empecemos</a>
        </div>
    </header>
</main>