<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Enlaces Favoritos - 
        {{#if desk}}
            Escritorio
        {{else}}
            Disp. Movil
        {{/if}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{#if user}}    
                    <li class="nav-item">
                        <a class="nav-link position-relative" id="newLink" href="/links/community" role="button">
                            Links de la Comunidad
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Mis Links
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/links">Todos mis enlaces</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/links/add">Agregar un nuevo enlace</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" role="button">
                            Mi Perfil
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" role="button">
                            Cerrar Sesión
                        </a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/signin" role="button">
                            Iniciar Sesión
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup" role="button">
                            Registrarse
                        </a>
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>
