{{#if desk}}
   <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Enlaces Favoritos</a>
            <button class="navbar-toggler" id="newLinkBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {{#if user}}    
                        <li class="nav-item">
                            <a class="nav-link position-relative" id="newLink" href="/links/community" role="button">
                                Links de la Comunidad
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/links" role="button">
                                Mis enlaces
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/links/add" role="button">
                                Agregar nuevo enlace
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile" role="button">
                                Mi Perfil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" role="button">
                                Cerrar Sesi贸n
                            </a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/signin" role="button">
                                Iniciar Sesi贸n
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup" role="button">
                                Registrarse
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
{{else}}
    <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Enlaces Favoritos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Enlaces Favoritos</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                    </li>
                    {{#if user}}    
                        <li class="nav-item">
                            <a class="nav-link" href="/profile" role="button">
                                Mi Perfil
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" role="button">
                                Cerrar Sesi贸n
                            </a>
                        </li>
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/signin" role="button">
                                Iniciar Sesi贸n
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup" role="button">
                                Registrarse
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
            </div>
        </div>
    </nav>
{{/if}}
